body {
	font-family: Helvetica;
	margin: 0px;				
}

#header {
	margin-top: 0;
	background-color: khaki;
	border-color: brown;
	border-bottom-width: 20px;
	border-bottom-style: solid;
}

#program-name {
	font-size: 42pt;
}

#main-panel {
	position: relative;
	left: 200px;
	top: 20px;
	width: 500px;
}

#menu-panel {
	width: 170px;
	height: 100%;
	background-color: BROWN;
	position: absolute;
	left: 0px;
}

#menu-panel ul {
	padding-left: 10px;
	list-style-type: none;
	color: orange;
	font-weight: bold;
	cursor: default;
	margin: 0px;
}

#menu-panel a {
	color: orange;
	text-decoration: none;	
	cursor: default;  
}

.sub-menu {
	list-style-type: square;
}

.sub-menu li:hover {
	color: white;
}

.menu-option {
	color: orange;
	font-weight: bold;
	cursor: default;
}

#questions-table .question-choice, textarea {
	width: 300px;
}

.question-choice {
	padding: 2px 2px 2px 20px;
}

.panel-title {
	font-size: 20pt;
	margin-bottom: 10px;
	display: block;
}

.question-div {
	margin-bottom: 20px;
}

.question {
	margin-bottom: 10px;
}

.choices {
	margin-left: 10px;
}

.letterChoice {
	display: inline;
    height: inherit;
    margin-left: 3px;
    margin-top: 3px;
    position: absolute;
}

.submenu-title {
	color: khaki;
	font-weight: bolder;
	font-size: 120%;
}