body {
	font-family: Helvetica;
	margin: 0px;				
}

#header {
	margin-top: 0;
	background-color: khaki;
	border-color: brown;
	border-bottom-width: 20px;
	border-bottom-style: solid;
}

#program-name {
	font-size: 42pt;
}

#main-panel {
	position: relative;
	left: 200px;
	top: 20px;
	width: 500px;
}

#left-panel {
	width: 170px;
	height: 100%;
	background-color: BROWN;
	position: absolute;
	left: 0px;
}

#left-panel ul {
	padding-left: 10px;
	list-style-type: none;
	color: orange;
	font-weight: bold;
	cursor: default;
	margin: 0px;
}

#left-panel a {
	color: orange;
	text-decoration: none;	
	cursor: default;  
}

.sub-menu {
	list-style-type: square;
}

.menu-option {
	color: orange;
	font-weight: bold;
	cursor: default;
}

#questions-table .question-choice, textarea {
	width: 300px;
}

.question-choice {
	padding: 2px 2px 2px 20px;
}

.panel-title {
	font-size: 20pt;
	margin-bottom: 10px;
	display: block;
}

.question-div {
	margin-bottom: 10px;
}

.question {
	margin-bottom: 10px;
}

.choices {
	margin-left: 10px;
}

.question-options {
	margin-left: 2em;
	font-size: 80%;
}

.question-options a {
	text-decoration: none;
	color: blue;
}


.letterChoice {
	display: inline;
    height: inherit;
    margin-left: 3px;
    margin-top: 3px;
    position: absolute;
}

.submenu-title {
	color: khaki;
	font-weight: bolder;
	font-size: 120%;
}

.hidden-form{
	margin: 0px;
	display: inline;
}

.hidden-form button{
	background:none;
    border:none;
    margin:0;
    padding:0;
	color: blue;
	cursor: pointer;
}

#logout-button {
	color: orange;
	font-weight:bold;
}

.choices-list {
	font-size: 90%;
	list-style-type: upper-alpha;
}

.question-answer {
	font-size: 90%;
}